<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Figures</title>
</head>
<body>
  <h1>Figures</h1>
  <%@figures.each do |figure| %>
    <ul>
    <a href="/figures/<%= figure.id %>"><li><%=figure.name%>
    </li></a>
    </ul>
  <%end%>  
</body>
</html>